# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
.supermemory/

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#client
client_secret.json

# ==========================
# Mobile / Capacitor
# ==========================

# Node
node_modules/
mobile/node_modules/

# Generated Capacitor Web Bundle
mobile/www/

# Android Build Outputs
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/app/src/main/assets/

# Android Studio
mobile/android/.idea/
mobile/android/local.properties
*.iml

# Capacitor Generated Plugins
mobile/android/capacitor-cordova-android-plugins/

# Logs
*.log
